/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,600,700';

// Vertical spacing between blocks of text
$smallMargin: 5px;
$blockMargin: 10px;
$largeMargin: 20px;

// Colors
$black: #000000ff;
$gray: #808080ff;
$white: #ffffffff;

$darkCyan: #008691;
$lightCyan : #5BB1B8;
$camelliaRose: #EB5D81;

$color-primary: $black !default;
$color-secondary: $white !default;

$color-high-primary: $darkCyan !default;
$color-high-secondary: $camelliaRose !default;
$color-high-tertiary: $lightCyan !default;

$body-color: $color-primary !default;
$link-color: $color-high-secondary !default;
$selection-bg: $color-high-tertiary !default;
$code-color:  $color-primary !default;

// Background of the presentation
$backgroundColor: $color-secondary !default;

// Typography
$mainFont: "Roboto", sans-serif !default;
$mainFontSize: 30px;
$body-line-height: 1.5;

$headingMargin: 0;
$headingFont: "Quicksand", sans-serif !default;
$headingColor: $color-high-primary;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextShadow: none;
$headingFontWeight: normal;

$heading1Size: 3.77em;
$heading1TextShadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1em;

$mermaid-bg-color: $color-high-primary;
$mermaid-edge-color: $color-primary;
$mermaid-node-fg-color: $body-color;
$mermaid-fg-color: $color-secondary;
$mermaid-fg-color--lighter: lighten($color-secondary, 10%);
$mermaid-fg-color--lightest: lighten($color-secondary, 20%);
$mermaid-font-family: $mainFont;
$mermaid-label-bg-color: $color-high-primary;
$mermaid-label-fg-color: $color-secondary;
$mermaid-node-bg-color: $color-high-primary;

// Layout
$content-max-width: 900px;

/*-- scss:rules --*/

/* General text styling */
body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $backgroundColor;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.text-color-primary {
  color: $color-primary;
}

.text-color-secondary {
  color: $color-secondary;
}

.text-color-highlight-primary {
  background-color: $color-high-primary;
  color: $white;
}

.text-color-highlight-secondary {
  background-color: $color-high-secondary;
  color: $white;
}

.text-color-highlight-tertiary {
  background-color: $color-high-tertiary;
  color: $white;
}

.textcenter {
  text-align: center;
}

/* Headings */
h1, .reveal h1 {
  font-family: $headingFont;
  font-size: $heading1Size;
  color: $headingColor;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  text-shadow: $heading1TextShadow;
  font-weight: $headingFontWeight;
  margin: $headingMargin;
}

h2, .reveal h2 {
  font-family: $headingFont;
  font-size: $heading2Size;
  color: $headingColor;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  font-weight: $headingFontWeight;
  margin: $headingMargin;
}


/* Slide content layout */
.reveal .slides {
  max-width: $content-max-width;
  margin: auto;
  padding: 0 $smallMargin;
}

/* Constrain figures and other large block elements */
.reveal .slides img,
.reveal .slides figure,
.reveal .slides video,
.reveal .slides .reveal-image {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Specialised sections */
.reveal .title {
  background-color: $headingColor;
  color: $backgroundColor;
  text-align: center;
}

.reveal .subtitle {
  background-color: $color-high-secondary;
  color: $backgroundColor;
  text-align: center;
}

.reveal .inverse {
  color: $color-secondary;
  background-color: $color-primary;
}

.reveal .exercise {
  background-color: $color-high-tertiary;
  color: $color-secondary;
}

/* Blockquote */
.reveal .blockquote {
  font-style: italic;
  border-left: 6px solid $color-high-primary;
  padding: $smallMargin;
  border-radius: 25px;
  border-top: 3px solid $gray;
  border-bottom: 3px solid $gray;
  border-right: 3px solid $gray;
  background-color: $color-secondary;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Code block */
code {
  background-color: darken($backgroundColor, 20%);
  padding: $smallMargin;
  border-radius: 5px;
}

/* List styling */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: $blockMargin;
}